@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,300;1,200;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,300;1,200;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-family: "Merriweather", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}

/* header section style */
.container {
    
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: url(../img/Banner\ Image.png);
    border-radius: 16px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) ); */
}

.banner {
    text-align: center;
    justify-content: center;


}

.banner .title h2 {
    color: #FFF;
    padding: 177px 530px 0px 530px;


    font-size: 32px;

    font-weight: 400px;

}

.main-title {
    /* width: 632px;
    text-align: center; */

}

.main-title h1 {
    color: #FFF;
    text-align: center;

    font-size: 72px;

    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* offer sction */
.offer-main {
    width: 1600px;
    /* height: 7335px; */
    margin: 120px auto;
    text-align: center;
    justify-content: center;
}

.offer-containe {
    margin: 120px auto;
    width: 1600px;
    /* height: 7335px; */


}

.offer h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;

    font-weight: 700;
    margin-bottom: 48px;

}

.offer h4 {

    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;

    font-weight: 500;
    margin-bottom: 3px;

}

.offer h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;

    font-weight: 700;
    margin-bottom: 48px;

}

.offer img {
    width: 802.9px;
    height: 500px;
}
/* welcome section start  */
.welcom-sction{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    background-image: url("../img/Vectorrr.png");
    

}
.welcome-container{
    display: flex;
    justify-content: space-around;
}
.welcom h1{
    width: 697px;
    color: #FFF;
font-family: Merriweather;
font-size: 64px;

font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
/* margin-top: 126px;
margin-left: 126px;
margin-bottom: 24px;
margin-right: 34px; */
margin:126px 34px 24px 126px ;

}
.welcom p{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
width: 697px;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin:0 38px 10px 126px;
}
#btn-p{
    margin-left: 158px;
}
.main-btn{
    color: #FFF;
    
    border-radius: 8px;
background: #F00;
padding: 16px 32px;
font-family: Inter;
font-size: 20px;
font-weight: 700;

border: none;

}
.welcom img{
    margin: 68px 138px 67px 0;

}
/* joining section */
.joining-sction{
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
    width: 1320px;
height: 482px;
margin: 120px auto;

text-align: center;
   
}
.joining-contener{
    padding: 100px 386px 214px 385px;
}
.joining h1{
    color: #070211;
font-family: Inter;
font-size: 32px;

font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.red{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}
.btnn{
    margin-top: 48px;
}